icefall.egg-info/
data
__pycache__
path.sh
exp
exp*/
*.pt
download
dask-worker-space
log
*.bak
*-bak
*bak.py
*.param
*.bin

tools/venv
tools/Miniconda3-latest-Linux-x86_64.sh
tools/activate_python.sh
tools/k2
